/*Copyright © 2013 Sean DeBellis
 * css for the flatulator page of sdrockstar website
 * Date: 10-30-13
*/

#mainbody {width: 70.5%; height: 100%; margin-top: 2.5%; margin-left: 21%; padding-top: 0; background-color: white; border: 2px solid black}

#mainbody .appscrnpics {float: left; width: 25%; height: 100%; margin-left: 2%; margin-right: 2%; margin-top: 1%; }

#mainbody br {}
#mainbody p {margin-left: auto; margin-right: 5%; margin-top: 2%; padding-left: 2%}
#appheader {border-bottom: 2px solid black}

#appheader img {float: left; margin-left: 1%}

#appheader h2 {color: blue; padding-top: 0; padding-bottom: 0; margin-top: 0; margin-bottom: 0}

