/*
 * Copyright © Sean DeBellis
 * SDRockstarStudios website
 * Index.htm Style Sheet
 * Date: 10/16/2013
*/

#mainbody {background-color: white; display: block; margin-top: 2.5%; margin-left: 21%; width: 68.7%; padding-left: 2%; height: auto; border: 2px solid black}

#mainbody p { font-size: 12pt; width: 80%; margin-left: 2%; margin-right: 2%; color: #000000}


