/*Copyright © 2013 Sean DeBellis
 * css for the flatulator page of sdrockstar website
 * Date: 10-30-13
*/

#mainbody {width: 70.5%; height: 100%; margin-top: 2.5%; margin-left: 21%; padding-top: 0; background-color: white; border: 2px solid black}

#mainbody .appscrnpics {float: left; width: 216px; height: 384px; margin-right: 2%; margin-top: 1%}

#mainbody br {}
#mainbody p {margin-left: auto; margin-right: 5%; margin-top: 2%; padding-left: 2%}
#appheader {background-color: black; border-bottom: 2px solid black}

#appheader img {float: left; padding-left: 2%}

#appheader h2 {color: blue; margin-top: 0%; margin-bottom: 0%; padding-top: 1%; padding-bottom: 1%}

