{% extends templates/base.html %}

            {% block mainbody %}
            <p>Greetings! My name is Sean DeBellis.  I am a junior at Portland State University, Portland Oregon.  I am working on my Bachelor's degree in Computer Science.</p>

            <p>I expect to complete my bachelor's degree in the spring of 2015.</p>

            <p>My main research interests are Android Application Development, but I am simultaniously continuing my progress in learning web development including HTML, JavaScript, and Python programming.</p>

            <p>Currently, I am working on a fitness application that will allow the user to build a workout from a given set of exercises divided into muscle groups. Then it will have the user set the beginning weight for each of those exercises and the amount of days per week the user wants to spend working out. With this information the application will build a workout for the user. The user will then follow the workouts; recording the amount of repetitions per set on each exercise. The application will increment the weight of the exercises upon the increase of strength of the user. My plan is to also add a cardio tracker using the Google Maps API to track the users path, distance, and time during their chosen activity.</p>
            {% endblock %}

